# drizzle-pg-starter environment variables
LOG_LEVEL='log_level'
NODE_ENV='node_env'
PORT='port'
CORS_ORIGIN='cors_origin'
DATABASE_URL='database_url'
JWT_ACCESS_SECRET=''
JWT_REFRESH_SECRET=''
JWT_ACCESS_EXPIRES_IN='15m'
JWT_REFRESH_EXPIRES_IN='30d'
